# Logs
logs
*.log
npm-debug.log*

# Dependency directories (千万不能上传这个)
node_modules/

# Build output (打包后的文件也不用上传源代码库)
dist/
dist-ssr/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db